#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

#root {
  height: 100%;
}
.app {
  height: 100%;
}
