#checkout-page {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#info-container {
  background-color: #16202d;
  display: flex;
  justify-content: center;
  width: 80%;
  padding-top: 80px;
  align-items: center;
  flex-direction: column;
  color: #c6d4df;
}
#payment-method {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-bottom: 80px;
}

#payment-right {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  margin-top: auto;
  margin-left: auto;
}

#payment-left {
  display: flex;
  flex-direction: column;
}

.security-code {
  width: 50px !important;
}

#payment-options {
  width: 200px;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #45556c;
  padding: 5px;
  margin-top: 3px;
  font-size: 16px;
  line-height: 21px;
}
#payment-options:hover {
  background: linear-gradient(to right, #67c0f4 5%, #417a9b 95%);
}

.options {
  background-color: #417a9b;
}

.options:focus {
  outline: none !important;
}

.options:hover {
  outline: none !important;
  background: linear-gradient(to right, #67c1f5 5%, #417a9b 95%);
}
.input-checkout {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #45556c;
  width: 200px;
  padding: 5px;
  margin-top: 3px;
  font-size: 16px;
  line-height: 21px;
  max-height: 21px;
}

.horizontal {
  margin-right: 10px;
  margin-left: 10px;
}

#billing-info {
  display: flex;
  flex-direction: row;
  width: 70%;
}

#billing-left {
  display: flex;
  flex-direction: column;
}

#billing-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
