.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #16202d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 45px;
}

.item-image {
  width: 80%;
  height: auto;
}

.item-name {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 8px;
  color: #8650ac;
  padding-bottom: 10px;
}

.price {
  color: white;
  padding-bottom: 5px;
}

.add-to-cart {
  color: #d2e885;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #a4d007;
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
}

.add-to-cart:hover {
  color: white;
  background: #a1bf05;
  background: linear-gradient(to bottom, #a1bf05 5%, #80a005 95%);
}
