#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171a21;
  position: fixed;
  top: 0;
  width: 100%;
}

#first {
  margin-left: 40px;
}

.nav-item {
  float: left;
}

.nav-link {
  /* display: block; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: #b8b6b4;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-link:hover {
  background-color: #111;
}

#shopping-cart {
  height: 20px;
  margin-left: auto;
  margin-right: 40px;
}
